.navbar__item a,
.navbar__item__mobile a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 11px 20px;
}

.navbar__item {
  a {
    color: white;
    margin-top: 10px;

    span {
      // color: white;
      font-size: 1.2rem;
      margin-left: 10px;
    }
  }
}

.navbar__item__mobile {
  a {
    span {
      color: #333;
      font-size: 1rem;
      margin-left: 10px;
    }
  }
}